body {
  background-color: #FFF8EA; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none; }

.container {
  margin: auto; }
  .container > img {
    width: 100%; }
  @media (max-width: 575px) {
    .container {
      width: 95%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 720px; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .container {
      width: 720px; } }
  @media (min-width: 1400px) {
    .container {
      width: 720px; } }
  .container .to-do-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    overflow: hidden;
    display: none; }
    .container .to-do-list.show {
      display: flex; }
    .container .to-do-list .crd {
      padding: 15px;
      margin: 5px auto;
      width: 90%;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 15px; }

.container .to-do-list .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px auto 25px; }
  .container .to-do-list .title .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
    position: relative; }
    .container .to-do-list .title .navbar > div {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container .to-do-list .title .navbar > div p {
        font-size: 15px;
        text-transform: capitalize;
        color: #9E7676; }
      .container .to-do-list .title .navbar > div .profileimg {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #9E7676;
        margin-left: 5px;
        overflow: hidden; }
        .container .to-do-list .title .navbar > div .profileimg img {
          width: 100%;
          height: 100%; }
    .container .to-do-list .title .navbar .setting-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      transition: all 0.3s;
      position: absolute;
      top: 21px;
      right: 0px;
      color: #9E7676; }
      .container .to-do-list .title .navbar .setting-menu.show {
        display: flex; }
      .container .to-do-list .title .navbar .setting-menu li {
        width: 100%;
        font-size: 11px;
        font-weight: bold;
        text-transform: capitalize;
        margin-top: 5px;
        cursor: pointer;
        padding: 3px;
        border: 1px solid #9E7676;
        border-radius: 5px; }
  .container .to-do-list .title .title-letsdo {
    width: fit-content;
    color: #9E7676;
    font-size: 30px;
    background-color: #FFF8EA; }

.container .settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #9E7676;
  background-color: #FFF8EA;
  border-radius: 15px;
  z-index: 100;
  padding: 20px; }
  @media (max-width: 575px) {
    .container .settings {
      width: 95%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .container .settings {
      width: 540px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .container .settings {
      width: 720px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container .settings {
      width: 720px; } }
  @media (min-width: 1200px) and (max-width: 1399px) {
    .container .settings {
      width: 720px; } }
  @media (min-width: 1400px) {
    .container .settings {
      width: 720px; } }
  .container .settings.show {
    display: flex; }
  .container .settings .update-info .form-control {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }
    .container .settings .update-info .form-control label {
      width: 100%;
      color: #9E7676; }
    .container .settings .update-info .form-control input {
      width: 100%;
      background-color: inherit;
      outline: none;
      border: 1px solid;
      border-radius: 10px;
      margin-top: 5px;
      color: #9E7676;
      padding: 10px;
      caret-color: #9E7676; }
  .container .settings .update-info button {
    margin-top: 10px;
    background-color: #9E7676;
    padding: 10px;
    border: none;
    border-radius: 5px; }

.container .to-do-list .add-crd {
  background-color: #fff; }
  .container .to-do-list .add-crd .date-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%; }
    .container .to-do-list .add-crd .date-input svg {
      color: #9E7676; }
    .container .to-do-list .add-crd .date-input input {
      border: none;
      background-color: inherit;
      margin-bottom: 10px;
      outline: none; }
    .container .to-do-list .add-crd .date-input textarea {
      border: none;
      width: 100%;
      height: 40px;
      outline: none;
      resize: none;
      padding: 10px;
      caret-color: #9E7676;
      color: #9E7676; }
  .container .to-do-list .add-crd button {
    border: 1px solid #9E7676;
    cursor: copy;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s; }
    .container .to-do-list .add-crd button :hover {
      transform: scale(1.1); }
    .container .to-do-list .add-crd button .fa-plus {
      color: #9E7676;
      width: 50px;
      height: 50px; }

.container .to-do-list .no-task {
  display: block;
  color: #D4522E;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold; }

.container .to-do-list .filter {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #FFF8EA; }
  .container .to-do-list .filter .filter-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
    text-transform: capitalize; }
    @media (max-width: 575px) {
      .container .to-do-list .filter .filter-card {
        font-size: 12px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      .container .to-do-list .filter .filter-card {
        flex-direction: column;
        font-size: 12px; } }
    .container .to-do-list .filter .filter-card select {
      border: none;
      background-color: inherit;
      outline: none; }
      .container .to-do-list .filter .filter-card select option {
        border: none;
        background-color: inherit;
        outline: none; }
    .container .to-do-list .filter .filter-card .date-card {
      display: flex;
      justify-content: space-between;
      gap: 3px; }
      .container .to-do-list .filter .filter-card .date-card input {
        border: none;
        background-color: inherit;
        outline: none; }
      @media (max-width: 575px) {
        .container .to-do-list .filter .filter-card .date-card {
          font-size: 12px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .container .to-do-list .filter .filter-card .date-card {
          flex-direction: column;
          font-size: 12px; } }

.container .to-do-list .edit-content {
  background-color: #fff;
  display: none;
  flex-direction: column; }
  .container .to-do-list .edit-content .edit-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .container .to-do-list .edit-content .edit-date input {
      border: none;
      margin-left: 0;
      height: 50px;
      outline: none; }
    .container .to-do-list .edit-content .edit-date button {
      border: 1px solid #9E7676;
      cursor: pointer;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #fff;
      transition: transform 0.3s; }
      .container .to-do-list .edit-content .edit-date button :hover {
        transform: scale(1.1); }
      .container .to-do-list .edit-content .edit-date button .fa-check {
        color: #9E7676;
        width: 100%;
        height: 100%; }
  .container .to-do-list .edit-content textarea {
    border: none;
    width: 100%;
    height: 50px;
    outline: none;
    resize: none; }

.container .to-do-list .list {
  flex-direction: column;
  padding: 0;
  gap: 0; }
  .container .to-do-list .list .list-card {
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background: linear-gradient(180deg, #9E7676 0%, #FFF8EA 100%); }
    .container .to-do-list .list .list-card:hover .edit .edit-delete {
      display: flex; }
    .container .to-do-list .list .list-card .edit {
      display: flex;
      justify-content: space-between; }
      .container .to-do-list .list .list-card .edit .date .date-icon {
        margin-right: 5px; }
      .container .to-do-list .list .list-card .edit .date span {
        font-size: 13px; }
      .container .to-do-list .list .list-card .edit .edit-delete {
        display: none; }
        .container .to-do-list .list .list-card .edit .edit-delete .edit-task {
          color: #815B5B;
          margin-right: 5px;
          transition: transform 0.3s; }
          .container .to-do-list .list .list-card .edit .edit-delete .edit-task :hover {
            transform: scale(1.1); }
        .container .to-do-list .list .list-card .edit .edit-delete .delete-task {
          color: #b37d06;
          transition: transform 0.3s; }
          .container .to-do-list .list .list-card .edit .edit-delete .delete-task :hover {
            transform: scale(1.1); }
    .container .to-do-list .list .list-card .view {
      display: flex; }
      .container .to-do-list .list .list-card .view input[type='checkbox']:checked {
        margin-right: 10px; }
        .container .to-do-list .list .list-card .view input[type='checkbox']:checked + textarea {
          color: #888; }
      .container .to-do-list .list .list-card .view textarea {
        background-color: inherit;
        border: none;
        text-transform: capitalize;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        width: 100%;
        height: auto;
        resize: none; }

.container .auth {
  margin: 100px auto;
  position: relative;
  width: 70%;
  background: linear-gradient(180deg, #9E7676 0%, #FFF8EA 100%);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .container .auth .login,
  .container .auth .signup {
    display: none; }
    .container .auth .login h2,
    .container .auth .signup h2 {
      width: 100%;
      background-color: #594545;
      height: 50px;
      text-align: center;
      margin-bottom: 50px;
      font-size: 25px;
      line-height: 50px;
      color: #fff; }
    .container .auth .login form,
    .container .auth .signup form {
      width: 50%;
      margin: auto;
      display: flex;
      flex-direction: column; }
      @media (max-width: 575px) {
        .container .auth .login form,
        .container .auth .signup form {
          width: 65%; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .container .auth .login form,
        .container .auth .signup form {
          width: 65%; } }
      .container .auth .login form .form-control,
      .container .auth .signup form .form-control {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px; }
        .container .auth .login form .form-control input,
        .container .auth .signup form .form-control input {
          width: 100%;
          border: none;
          border-radius: 10px;
          padding: 10px;
          height: 30px;
          outline: none; }
      .container .auth .login form .forget-pass,
      .container .auth .signup form .forget-pass {
        margin-top: 10px;
        align-self: flex-end;
        color: #888;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 15px; }
        @media (max-width: 575px) {
          .container .auth .login form .forget-pass,
          .container .auth .signup form .forget-pass {
            font-size: 12px; } }
        @media (min-width: 576px) and (max-width: 767px) {
          .container .auth .login form .forget-pass,
          .container .auth .signup form .forget-pass {
            font-size: 12px; } }
      .container .auth .login form button,
      .container .auth .signup form button {
        margin-top: 10px;
        width: 100%;
        background-color: #594545;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        line-height: 30px;
        text-transform: capitalize;
        letter-spacing: 1px;
        cursor: pointer; }
    .container .auth .login.show,
    .container .auth .signup.show {
      display: block; }
  .container .auth .error {
    width: 100%;
    color: red;
    text-align: center;
    display: none; }
  .container .auth > button {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #594545;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
