// $color1: #FFF8EA;
$color1: #fff;
$color2: #6247fe;
$icon: #D4522E;
$edit: #6247fe;
$delete: rgb(179, 125, 6);
$inputBackG: #fff;
$authColor: #6247fe;

// Fonts
$fontColor1: #fff;
$fontColor2: #594545;