.container {
    .to-do-list {
        .filter {
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            background-color: $color1;

            .filter-card {
                width: fit-content;
                display: flex;
                flex-direction: column;
                padding: 5px;
                border-radius: 5px;
                gap: 5px;
                text-transform: capitalize;

                @include breakpoint(xs) {
                     font-size: 12px;
                }

                @include breakpoint(sm) {
                    flex-direction: column;
                    font-size: 12px;
                }

                select {
                    border: none;
                    background-color: inherit;
                    outline: none;
                    color: $color2;
                    option {}
                }

                .todays-tasks {
                    border: none;
                    background-color: inherit;
                    outline: none;
                    cursor: pointer;
                    color: $color2;
                }

                .date-card {
                    display: flex;
                    justify-content: space-between;
                    gap: 3px;

                    input {
                        border: none;
                        background-color: inherit;
                        outline: none;
                    }

                    @include breakpoint(xs) {
                        // flex-direction: column;
                        font-size: 12px;
                    }

                    @include breakpoint(sm) {
                        flex-direction: column;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}