.container {
    .to-do-list {
        .list {
            flex-direction: column;
            padding: 0;
            gap: 0;

            .list-card {
                width: 100%;
                min-height: 70px;
                display: flex;
                flex-direction: column;
                padding: 5px 10px;
                background: linear-gradient(180deg, $color2 0%, $color1 100%);

                &:hover {
                    .edit {
                        .edit-delete {
                            display: flex;
                        }
                    }
                }

                .edit {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;

                    .date-priority {
                        display: flex;
                        gap: 5px;
                        .date {
                            .date-icon {
                                margin-right: 5px;
                            }

                            span {
                                font-size: 13px;
                            }
                        }
                    }


                    .edit-delete {
                        // display: none;
                        display: flex;

                        @include breakpoint(xs) {
                            display: flex;
                        }

                        @include breakpoint(sm) {
                            display: flex;
                        }

                        .edit-task {
                            color: $edit;
                            margin-right: 5px;
                            transition: transform 0.3s;

                            :hover {
                                transform: scale(1.1);
                            }
                        }

                        .delete-task {
                            color: $delete;
                            transition: transform 0.3s;

                            :hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                .view {
                    display: flex;

                    input[type='checkbox'] {
                        margin-right: 10px;
                        height: 17px;
                        accent-color: white;
                    }

                    input[type='checkbox']:checked {
                        margin-right: 10px;


                        +textarea {
                            color: #888;
                        }
                    }

                    textarea {
                        background-color: inherit;
                        border: none;
                        text-transform: capitalize;
                        color: #fff;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 17px;
                        width: 100%;
                        height: auto;
                        resize: none;
                    }
                }
            }
        }
    }
}