.container {
    .to-do-list {
        .no-task {
            display: block;
            color: $icon;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
        }
    }
}